{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-primary pt-lg-5">
                        <thead>
                            <th>#</th>
                            <th>Date Prescription</th>
                            <th>Fiche</th>
                            <th>Nom & Postnom</th>
                            <th>Age</th>
                            <th>Action</th>
                        </thead>
                    <tbody>
                        {% with {i: 1} %}
                        {% for examen in examens %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ examen.consultation.createdAt|date('d-m-Y') }}</td>
                            <td>{{ examen.consultation.patient.numeroFiche }}</td>
                            <td>{{ examen.consultation.patient.nom~' '~examen.consultation.patient.postnom }}</td>
                            <td>{{ examen.consultation.patient.dateNaissance|date('d-m-Y') }}</td>
                            <td><a href="{{ path('examens_demandes', {'consultation': examen.consultation.id}) }}">Voir</a></td>


                        </tr>
                        {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}