{% include "_extension/sidebar.html.twig" %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste de patients</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item active">liste de patients</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

    {% for message in app.flashes('notice') %}
        <button type="button" class="btn btn-success toastsDefaultSuccess">
            {{ message }}
        </button>

    {% endfor %}

    {# {{ dump(patients) }} #}
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <th>N°</th>
            <th>Fiche</th>
            <th>Nom</th>
            <th>Genre</th>
            <th>Date N.</th>
            <th>Telephone</th>
{#            <th>Date E.</th>#}
            {% if is_granted("ROLE_GUICHET") %}
                <th>Type</th>
            {% endif %}
            <th>Actions</th>
            <!--th>Action</th-->
        </thead>
        <tbody>
        {% with { i : 1 } %}
    {% for patient in patients %}

        <tr>
            <td>{{ i }}</td>
            <td>{{ patient.numeroFiche|upper }}</td>
            <td>{{ patient.nom ~' '~ patient.postnom }}</td>
            <td>{{ patient.genre }}</td>
            <td>{{ patient.dateNaissance|date('d-m-Y') }}</td>
            <td>{{ patient.telephone }}</td>
{#            <td>{{ patient.createdAt|date('d-m-Y') }}</td>#}
            {% if is_granted("ROLE_GUICHET") %}
                <td>{{ patient.isAbonne ? 'Abonne':'Privé' }}</td>
            {% endif %}
            {#
            <td>{% if is_granted('ROLE_USER') %}
                    <a href="{{ path('new_paiement_acte',{ 'id': patient.id}) }}">Payer fiche</a>
                {% else %}
                    <a href="{{ path('new_paiement_acte',{ 'id': patient.id}) }}">Non Authorisé</a>
                {% endif %}
            </td> #}
            <td>
                <i class="fa fa-edit text-primary"></i>
                <a href="{{ path('nouveaux_signes', { 'id': patient.id }) }}">Consulter</a>
            </td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}

        {% endwith %}
        </tbody>
    </table>
</div>
                </div>
            </div>
        </div>
    </section>

{% include "/_extension/footer.html.twig" %}