{% include "_extension/sidebar.html.twig" %}
{% block title %}Consultation en Cabinet{% endblock %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Consultaion du patient</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item active">Consultations patient</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Consultations patients</h3>
                        <input type="button" class="btn btn-primary float-right  btn-sm" value="ENREGISTRER" name="btn_submit_consultation" id="btn_submit_consultation">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-sm-3">
                                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Plaintes principales</a>
                                    <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Antécédents</a>
                                    <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Examens Physiques</a>
                                    <a class="nav-link" id="vert-tabs-paraclinique-tab" data-toggle="pill" href="#vert-tabs-paraclinique" role="tab" aria-controls="vert-tabs-paraclinique" aria-selected="false">Examens Paraclinique</a>
                                    <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Conclusion et Traitement</a>
                                </div>
                            </div>
                            <div class="col-7 col-sm-9">
                                <div class="tab-content" id="vert-tabs-tabContent">
                                    <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                                        <form method="post" id="form_consultation">
                                            <label for="nevrose">
                                                <input type="checkbox" class="check-form" id="nevrose" name="nevrose"> Nevrosé
                                                <input type="hidden" value="{{ patient }}" name="patient" id="patient">
                                                <input type="hidden" value="{{ id_signes }}" name="id_signes" id="id_signes">
                                            </label>
                                            <div class="form-group">
                                                <label for="">Plaintes Principales(anamnèses)</label>
                                                <textarea class="form-control" name="anamnese" id="anamnese"></textarea>
                                                <input type="button" id="btn_start_record" value="Parler">
                                                <input type="button" id="btn_stop_record" value="Stop">
                                                <span id="state_record">attente...</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Complements d'amnèses</label>
                                                <textarea class="form-control" name="complement" id="complement"></textarea>
                                            </div>
                                    </div>
                                    <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                                        <div class="form-group">
                                                <label for="">Medical</label>
                                                <textarea class="form-control" id="ant_medical" name="ant_medical"></textarea>
                                                <label for="">Chirurgical</label>
                                                <textarea class="form-control" id="ant_chirurgical" name="ant_chirurgical"></textarea>
                                                <label for="">Familial</label>
                                                <textarea class="form-control" id="ant_familial" name="ant_familial"></textarea>
                                                <label for="">Colateral</label>
                                                <textarea class="form-control" id="ant_colateral" name="ant_colateral"></textarea>
                                                <label for="">Description</label>
                                                <textarea class="form-control" id="ant_description" name="ant_description"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                                        <div class="form-group">
                                                <label for="">Tete et cou</label>
                                                <textarea class="form-control" id="tete_cou" name="tete_cou"></textarea>
                                                <label for="">Tronc</label>
                                                <textarea class="form-control" id="tronc" name="tronc"></textarea>
                                                <label for="">Membres</label>
                                                <textarea class="form-control" id="membres" name="membres"></textarea>
                                                <label for="">Divers</label>
                                                <textarea class="form-control" id="divers" name="divers"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                                        <div class="form-group">
                                            <label for="">Conclusion</label>
                                            <textarea class="form-control" id="conclusion" name="conclusion"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Traitement</label>
                                            <textarea class="form-control" id="traitement" name="traitement"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="vert-tabs-paraclinique" role="tabpanel" aria-labelledby="vert-tabs-paraclinique-tab">
                                        <h2>Examens Paracliniques</h2>
                                        <!-- Main content -->
                                        <section class="content">
                                            <div class="container-fluid">
                                                <!-- /.col -->
                                                <div class="container-fluid">
                                                    <!-- /.card -->
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <ul class="nav nav-tabs mt-3" id="custom-content-above-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active " id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-imagerie" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Imagerie</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-laboratoire" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Laboratoire</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-ecg" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">ECG</a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content" id="custom-content-above-tabContent">
                                                                <div class="tab-pane fade show active" id="custom-content-above-imagerie" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                                                                    imagerie
                                                                </div>
                                                                <div class="tab-pane fade" id="custom-content-above-laboratoire" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                                                                    {% include '_extension/examens_labo.html.twig' %}
                                                                </div>
                                                                <div class="tab-pane fade" id="custom-content-above-ecg" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                                                                    ecg
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.card -->
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
            <!-- /.content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    {% block javascripts %}
        <script src="{{ asset('my_js/tri_examen.js') }}"></script>
        <script src="{{ asset('my_js/validate_form_consultation.js') }}"></script>
        <script  src="{{ asset('my_js/speech_to_text.js') }}"></script>
    {% endblock %}
{% include "/_extension/footer.html.twig" %}
