{% extends 'base.html.twig' %}

{% block title %}Hello PaiementActeController!{% endblock %}

{% block body %}

<div class="bg-danger">
    <h1>Hello {{ controller_name }}! ✅</h1>

    
    <form>
        <input name="designation_frais" class="form-control">
    </form>
    {# {{ form(form) }} #}
    {{ dump(form) }}
    <li>
        <ul>
            {{ form.datePaiement|date('Y-m-d') }}
        </ul>
        <ul>
            {{ form.patient.nomComplet }}
            {{ form.user.email }}
            {{ app.user.agent.nom }}

        </ul>
    <li>
    
</div>
{% endblock %}
