{% include "_extension/sidebar.html.twig" %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">Patient à Prélever</div>
                    </div>
                    <div class="card-body">
                        <label>Fiche:</label>
                        <span >{{ patient.numeroFiche|upper }}</span><br>
                        <label>Nom & Postnom: </label>
                        <span>{{ patient.nom|upper ~' '~ patient.postnom|upper }}</span>
                    </div>
                </div>
            </div>
        </div>
        {# {{ form_row(form.created_at, {'attr':{'value': DateTime(now()}}) }} #}
        <div class="row">

            <div class="col-md-12">
                {% if signes is defined %}
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">Récents Signes Vitaux</div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Date Consultation</th>
                                        <th>Temperature</th>
                                        <th>Tension Arterielle</th>
                                        <th>Poids</th>
                                        <th>Cabinet Traitant</th>
                                        <th>Observation</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% with { i : 1 } %}
                                    {% for signe in signes %}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ signe.createdAt|date('d-m-Y') }}</td>
                                            <td>{{ signe.poids }}</td>
                                            <td>{{ signe.temperature }}</td>
                                            <td>{{ signe.tensionArterielle }}</td>
                                            <td>{{ signe.service.designation is defined?signe.service.designation:'-' }}</td>
                                            <td>
                                                {% if(signe.service.designation is defined) %}
                                                    <span>ok</span>
                                                {% else %}
                                                    <a href="{{ path('prelever', {'id': signe.patient.id, 'p': signe.id}) }}">Prelever</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endwith %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% elseif prelever is defined %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                        {{ form_row(form.poids, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.temperature, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.tension_arterielle, {'attr':{'class':'form-control'}}) }}
                        {{ form_row(form.service, {'attr':{'class':'form-control'}}) }}
                    {{ form_end(form) }}
                {% else %}
                    {{ "rien" }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include "/_extension/footer.html.twig" %}


